html {
 
}

* {
    color: white !important;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

input[type="file"] {
    color: white !important;
}

.tile {
    background: rgba(255, 255, 255, 0.034);
}

.frb-nav {
    background-color: var(--color-b);
}

.frb-nav * {
    background-color: var(--color-b);
    font-size: 13px !important;
    font-weight: 600 !important;
    color: var(--color-a) !important;
}

.menu-list a, .menu-label {
    color: var(--color-ab);
}

.menu-list a.is-active {
    background-color: var(--color-b) !important;
    color: var(--color-a) !important;
}

#app {
    background-color: rgb(241, 241, 241);
    color: var(--color-ab) !important;
}

.space-x {
    background-color: transparent;
    padding: 1vw 3vw !important;
    border-radius: 5px;
}

.admin-img-form {
    background-color: rgb(179, 179, 179);
    padding: 2px !important;
}

.is-info {
    background-color: var(--color-b) !important;
}

.is-primary {
    background-color: var(--color-b) !important;
    color: var(--color-a) !important;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: rgb(241, 241, 241);
    color: var(--color-ab) !important;
    transition: background-color 0.3s;
}

.vermensaje {
    min-height: 20px;
    width: 100%;
    background-color: rgb(187, 187, 187);
    border: 1px solid var(--color-b);
}

.fbg_table {
    background-color: rgba(255, 255, 255, 0.192);
    height: 400px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

@media (max-width:769px) {
    .fbg_table {
        height: auto;
        max-height: 400px;
    }
    .visitas{
        max-height: 200px;
    }
}

.fbg_table_item {
    width: 100%;
    height: auto;
    border-bottom: 3px solid rgba(0, 0, 0, 0.493);
    clear: both;
    display: flow-root;
}

.fbg_tag1 {
    font-size: 10px;
    background-color: rgba(1, 0, 32, 0.5);
    padding: 2px 5px;
    margin: 1px;
    width: max-content;
    border-radius: 4px;
}

.fbg_coment {
    font-size: 14px;
    padding: 3px;
}

.fbg_coment::first-letter {
    font-size: 20px;
    text-transform: uppercase;
}

.fbg_vermensaje {
    clear: both;
    border-top: 1px solid rgba(255, 255, 255, 0.26) !important;
    padding: 5px;
    display: none;
    position: relative;
}

.fbg_delete {
    width: max-content;
    background-color: rgb(116, 0, 0);
    padding: 14px 11px;
    line-height: 0;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fbg_delete:hover {
    background-color: white;
    color: red !important;
    font-weight: bolder !important;
    transition: background-color 0.3s;
}

.visitas {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 255, 255, 0.151);
    overflow-y: auto;
    padding: 4px;
}

.visitas p {
    padding: 4px;
    text-align: center;
    cursor: pointer;
}

.visitas p:hover {
    background-color: white;
    color: black !important;
    font-weight: bolder !important;
}

.contadores {}

.contadores div {
    background-color: rgba(245, 222, 179, 0.096);
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.contadores div:hover {
    background-color: rgba(245, 222, 179, 0.274);
}

.conftext label {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.486) !important;
}