.proyects .column {}

.proyect {
    width: 100%;
    height: auto;
    min-height: 150px;
    position: relative;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url('https://microsofters.com/wp-content/uploads/2021/06/img21-scaled.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    border-radius: 3px;
    border-bottom-right-radius: 50px;
}

.proyect a {
    font-size: 30px;
    line-height: 30px;
    display: block;
}

.proyect a:hover {
    color: aqua !important;
}

.proyect .fecha_proyect {
    background-color: brown;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    right: 0;
}

/* 
.proyect img {
    position: absolute;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    background-color:yellow;
    overflow: hidden;
} */

.star {
    color: gray;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
}

.stactive {
    color: orange !important;
}

.star:hover {
    color: rgb(0, 219, 29) !important;
}

.proyect .star {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

@media(max-width:769px) {
    .proyect {
        min-height: 0;
        padding-bottom: 10px;
    }

    .proyect a {
        font-size: 20px;
        line-height: 20px;
    }

    .proyect .star {
        top: 5px;
        right: 5px !important;
        bottom: unset;
        left: unset;
    }
}

.process {
    height: auto;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 121px;
}

.step {
    width: 200px;
    display: inline-block;
    height: auto;
    padding: 5px;
}

.step div:last-child {
    overflow-y: auto;
}

.step h4 {
    font-weight: bolder;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
    text-transform: uppercase;
}

.taskSpace {
    /* background: rgb(2, 0, 36); */
    /* background: linear-gradient(338deg, rgba(2, 0, 36, 1) 1%, rgba(1, 85, 124, 1) 46%, rgba(1, 85, 124, 1) 88%, rgba(1, 85, 124, 1) 92%); */
    background-color: #0e0e0e !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 1px solid rgba(255, 255, 255, 0.274);
    border-radius: 6px;
}

.step .task {
    /* background-color: #f0f0f0e3; */
    background: rgb(2, 0, 36);
    /* background: linear-gradient(338deg, rgba(2, 0, 36, 1) 1%, rgb(255, 247, 233) 46%, rgb(0, 29, 43) 88%, rgba(1, 85, 124, 1) 92%); */
    background-color: #000000;
    color: rgb(248, 247, 255) !important;
    font-weight: 800 !important;
    width: 100% !important;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s;
    border: 1px solid rgba(53, 53, 53, 0.39);
    position: relative;
    padding: 10px;
    padding-top: 0px;
}

.step .task:hover {
    background-color: rgba(0, 255, 255, 0.438);
    color: aliceblue !important;
    transition: background-color 0.2s;
}

.step .taskADD {
    background-color: rgba(9, 206, 255, 0.356);
    width: 100% !important;
    border-radius: 5px;
    display: block;
    margin: 5px 0;
    padding: 10px 3px;
    transition: background-color 0.2s;
}

.step .taskADD:hover {
    background-color: rgba(107, 255, 9, 0.356);
}

.step .taskADD form {}

.step .taskADD form textarea {
    width: 100%;
    color: black !important;
    outline: none !important;
    border: none;
    padding: 2px;
    margin: 5px 0px;
    background-color: rgba(255, 255, 255, 0.678) !important;
    resize: none;
}

.step .taskADD form .btn-square {
    color: rgb(230, 230, 255) !important;
    border: 1px solid rgb(255, 255, 255) !important;
    padding: 2px 10px;
    width: 100% !important;
    background-color: rgb(51, 51, 51);
}

.taskView {
    background-color: rgb(131, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 999;
    display: block;
    margin: 0 auto !important;
    width: 97%;
}

/* AGREGAR TAREA */

.taskSpace {
    padding: 50px 20px;
    width: 100%;
    height: auto;
    display: none;
}

.close-task {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    cursor: pointer;
}

.close-task:hover {
    background-color: black;
}

.stepTask {
    background-color: #5b7c00;
    padding: 3px 5px;
    font-size: 14px;
    cursor: pointer;
}

.stepTask:hover {
    background-color: yellowgreen;
}

.subtareas {
    width: 100%;
    height: auto;
    border: 1px solid white;
    padding: 5px;
}

.listTasked {
    width: 100%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 5px;
}

.listTasked span {
    display: flex;
    padding: 5px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.116);
}

.listTasked span p:hover {
    color: aqua !important;
    /* text-decoration: line-through; */
}

.task-coment {
    min-height: 200px;
    max-height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    margin: 20px;
    padding: 5px;
    background-color: #363636c7;
    overflow-y: auto;
}

.task-coment .comments div {
    background-color: rgb(31, 31, 31);
    margin: 5px 0;
    border-radius: 3px;
    border-bottom-right-radius: 30px;
    padding: 4px;
}

.task-coment .comments p{
    white-space: break-spaces;
}

.task-coment .comments div span {
    font-size: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
}

.task-coment .comments div a {
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.445);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    padding: 2px 7px;
    border-radius: 18px;
}

.add-proyect {
    width: 100%;
    height: auto;
    background-color: rgb(24, 24, 24);
    position: absolute;
    top: 0;
}

.step form {
    display: none;
}

#idNameTask {
    font-weight: bolder;
}

#idDescriptionTask {
    border: none;
    background-color: transparent;
    padding: 5px;
}

.taskSpace textarea {
    background-color: rgba(255, 255, 255, 0.253);
    border: none;
    color: white !important;
    resize: vertical;
}

.titleSubTasks {
    font-size: 30px;
    margin: 13px;
}

.titleSubTasks img {
    width: 30px;
    margin-bottom: -3px;
}

.selectStepInput {
    position: relative;
    top: 0;
    right: 0;
    z-index: 99999;
}

.selectStepInput span {
    background-color: #001c3a;
    color:rgba(0, 255, 255, 0.589) !important;
    border-radius: 1px;
    padding: 0px 5px;
    font-size: 8px;
    display: inline-block;
    width: fit-content;
    margin-left: -2px;
}

.step p {
    margin-top: 10px !important;
    color: rgb(255, 253, 249) !important;
    font-family: fangsong !important;
    font-weight: 100;
    font-size: 12px;
}

.selectStepInput span:hover {
    font-size: 14px;
    color: aqua !important;
}

.stepActive {
    background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(54, 57, 187, 0.747)), url('https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    padding: 10px;
}
